{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div class="c-tabletask">
    <div class="c-tabletask-header">
        <p>Tareas pendientes<p>
            <a href="{% url 'crear_tarea' %}" class="btn btn-primary" data-toggle="modal" data-target="#modal-newtask">
                <i class="fa-solid fa-plus fa-2xs"></i> Nuevo
              </a>
              <a href="{% url 'pagina_principal' %}" class="btn btn-warning" data-toggle="modal" data-target="#modal-complete_task">
                Pendientes 
               </a>

    </div>

    <div class="table-responsive">
        <table class="table inner-table">
          <thead>
            <tr>
              <th>Titulo</th>
              <th>Descripcion</th>
              <th>Vencimiento</th>
              <th>Etiqueta</th>
              <th>Descripcion</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for tarea in tareas %}
              <tr>
                <td>{{ tarea.title }}</td>
                <td>{{ tarea.description }}</td>
                <td>{{ tarea.due_date|date:'d-m-Y' }}</td>
                <td>
                  {% if tarea.status == 'IP' %}
                    <span class="badge text-bg-primary">En progreso</span>
                  {% elif tarea.status == 'C' %}
                    <span class="badge text-bg-success">Completada</span>
                  {% elif tarea.status == 'P' %}
                    <span class="badge text-bg-warning">Pendiente</span>
                  {% else %}
                    {{ tarea.status }}
                  {% endif %}
                </td>
                <td>{{ tarea.label }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-ligth" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-gear"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'tarea_detalles' tarea.id %}" data-target="#modalVerTarea{{tarea.id}}">Ver tarea</a></li>
                          <li><a class="dropdown-item" href="{% url 'editar_tarea' tarea.id %}" data-target="#modalEditarTarea{{tarea.id}}">Editar tarea</a></li>
                        </ul>
                      </div>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">No hay tareas pendientes.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>

{% endblock %}